// colors
$color-primary: (
  'base': #55c57a,
  'light': #7ed56f,
  'dark': #28b485
);

$color-grey-light: #f7f7f7;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// Grid
$gutter-horizontal: 6.4rem;
$gutter-vertical: 8.0rem;
$grid-width: 114rem;
