@use "sass:math";

.composition {
  position: relative;

  &__photo {
    position: absolute;
    width: 55%;
    border-radius: 2px;
    box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.08);
    transition: all 0.2s;
    z-index: 10;


    @include respond(tablet-portrait) {
      position: relative;
      float: left;
      width: math.div(100%, 3);
    }


    &--p1 {
      left: 0rem;
      top: -2rem;
      // transform: scale(1.1);


      @include respond(tablet-portrait) {
        top: 0;
      }

    }

    &--p2 {
      top: 2rem;
      right: 0;
      // transform: scale(1.2);
      z-index: 20;

      @include respond(tablet-portrait) {
        top: -1rem;
        // right: 1rem;
      }

    }

    &--p3 {
      top: 10rem;
      left: 20%;
      // transform: scale(1.1);

      @include respond(tablet-portrait) {
        top: 1rem;
        left: 0;
      }

    }

    &:hover {
      box-shadow: 0 1.8rem 3.6rem rgba($color-black, 0.2);
      transform: scale(1.05) translateY(-0.5rem);
      z-index: 20;
      outline: 1rem solid $color-primary-base;
      outline-offset: 1.2rem;
    }
  }

  // Scale down images that aren't hovered
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }

}
