.feature-box {
  background-color: rgba($color-white, 0.8);
  text-align: center;
  padding: 2.4rem;
  border-radius: 4px;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.08);
  transition: all 0.3s;

  &:hover {
    box-shadow: 0 1.6rem 3.6rem rgba(0, 0, 0, 0.2);
    transform: scale(1.05) translateY(-1rem);
  }

  &__icon {
    font-size: 5.2rem;
    display: inline-block;
    @include bg-gradient(to right, $color-primary, 0.8);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
}
