
.section-about {
  background-color: $color-grey-light;
  padding: 25.6rem 0;
  // extend background-color upwards
  margin-top: -20vh;
}

.section-features {
  $skew-angle: -7deg;
  transform: skewY(#{$skew-angle});
  background-color: $color-grey-light;
  padding: 19.2rem 0;
  margin-top: -10rem;
  @include bg-gradient(to bottom right, $color-primary, 0.8, "../../img/nat-4.jpg");

  & > * {
    transform: skewY(#{$skew-angle * -1});
  }
}

.section-tours {
  // background-color: $color-grey-light;
  // background-color: lightblue;
  padding: 25.6rem 0;
  margin-top: -10rem;
}
